@import "reset";
@import "variables/global";

.app {
    font: var(--font-m);
    background-color: var(--accent-color);
    background-image: var(--bg-gradient);
    color: var(--text-color);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin: 20px 0;
        font: var(--font-xl);
        text-transform: uppercase;
        color: var(--secondary-color);
    }
}



