:root {
    // Цвета
    --text-color: #141C1F;
    --primary-color: #FFF;
    --secondary-color: #F0F2F5;
    --accent-color: #4E8EE4;

    --bg-gradient:linear-gradient(3deg, rgba(131,204,255,1) 0%, rgb(78, 142, 228) 50%);

    // Шрифт
    --font-family-main: 'Roboto', sans-serif;

    // s
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // m
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // l
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры
    --todos-max-width: 1000px;
    --todos-min-height: 400px;
}
