.wrapper {
  margin: 15px;
  padding: 40px;
  height: auto;
  min-height: var(--todos-min-height);
  width: 100%;
  max-width: var(--todos-max-width);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.todoList {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
  font: var(--font-xl);
  text-transform: uppercase;
}

.divider {
  background-color: var(--accent-color);
  margin: 20px 0;
}

